<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Girish</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="girish.css" />
</head>
<body class=body1 background="background.jpg">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                        <a class="navbar-brand" href="Girish_Guntuku">Intro</a>
                        <a class="navbar-brand" href="yourchoice">Your Choice</a>
                        <a class="navbar-brand" href="contact">Contact Info</a>
                        <a class="navbar-brand" href="guestbook">Guestbook</a>
                    </div>
                </div>
            </nav>
            <div>
                    <div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <img class=" img-circle" src="profile.jpg">
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div>            
                        </div>        
                    </div>
               <h3>  Contact Info</h3>
                <form id="mainform" method="post">
                    Name: <input type="text" name="Name" ><br>
                    Address:<input type="text" name="Address" ><br>
                    Phone:<input type="number" name="Phone" ><br>
                    <input type="submit" class="btn btn-primary btn-group-lg" value="Submit">
                </form>
            </div>
            <div>
            <div>
                <a href = "https://github.com/GirishGuntuku" target="_blank"><img class="img-circle" src="github-mark.png" style="width:100px;height:100px;"></src></a>
                <a href = "https://bitbucket.org/GirishGuntuku/" target="_blank"><img src="bitbucket.png" style="width:100px;height:100px;"></src></a>
                <a href = "https://www.linkedin.com/in/girish-guntuku-044010128/" target="_blank"><img src="linkedin.png" style="width:100px;height:100px;"></src></a>
            </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="contact.js"></script>
            </body>
            </html>
