
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Girish</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="girish.css" />
</head>
<body id="body1" background="background.jpg">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Home</a>
                        <a class="navbar-brand" href="Girish_Guntuku">Intro</a>
                        <a class="navbar-brand" href="yourchoice">Your Choice</a>
                        <a class="navbar-brand" href="contact">Contact Info</a>
                        
                    </div>
                </div>
            </nav>
<header id="header1">
<center>

</center>
</header>
<article class="article1">
<section id="section1">
<header id="header2">
        <div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <img class=" img-circle" src="profile.jpg">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div>            
            </div>        
        </div>
Current
</header>
<p>I am a new member of Spring 2018 batch working on my Master's of Applied Computer Science.</p>
</section>
<section id="past-section">
<header id="header3">
Background
</header>
<p>I am from India and my hometown is Hyderabad.<br>
I received my Bachelor's degree in Computer Science and Engineering from Jawaharlal Nehru Technological University-Hyderabad in 2017.</p>

</section>

<section id="future-section">
<header id="header4">
Plans
</header>
<p>I would like to work as a Project Manager in future after completing my Master's from Northwest Missouri State University.</p>

</section>
</article>
<aside>
<section id="section4">
<header id=class="aside-header">
Other
</header>
<p>
I like to know about new smartphones in the market.<br>
I like to play and watch soccer.<br>
I like to play video games.<br>
</p>
</section>
</aside>
<footer class="footer1">
<center><b>Email:s531369@nwmissouri.edu</b>
</center>
</footer>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="choice.js"></script>
</body>
</html>
