<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

</head>
<body class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                        <a class="navbar-brand" href="Girish_Guntuku">Intro</a>
                        <a class="navbar-brand" href="yourchoice">Your Choice</a>
                        <a class="navbar-brand" href="contact">Contact Info</a>
                        <a class="navbar-brand" href="guestbook">Guestbook</a>
                    </div>
                </div>
            </nav>
<h1 style="padding-top:1.5em">
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>

