<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Girish</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="girish.css" />
</head>
<body class=body1 background="background.jpg">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                        <a class="navbar-brand" href="Girish_Guntuku">Intro</a>
                        <a class="navbar-brand" href="yourchoice">Your Choice</a>
                        <a class="navbar-brand" href="contact">Contact Info</a>
                        <a class="navbar-brand" href="guestbook">Guestbook</a>
                        
                    </div>
                </div>
            </nav>
            <div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <img class=" img-circle" src="profile.jpg">
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div>            
                </div>        
            </div>
            <div class="container-fluid" id="maincontent">
                <p>
                    Click the button to calculate square root.
                    <button onclick="myFunction()">Click Me</button>
                  </p>
                  <p>
                    Enter the number1:
                    <input type="text" id="txt1" name="text1" value="1">
                    Enter the number2:
                    <input type="text" id="txt2" name="text2" value="2">
                  </p>
                  Adding Square root of two numbers is : <p  id="demo"></p>

              </div>

              <a href = "Tests.html"><h3>QTests</h3></a>
              
            <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="choice.js"></script>
            </body>
            </html>
            